/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

@font-face {
    font-family: 'HeydingsControlsRegular';
    src: url('../fonts/heydings_controls-webfont/heydings_controls-webfont.eot');
    src: url('../fonts/heydings_controls-webfont/heydings_controls-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/heydings_controls-webfont/heydings_controls-webfont.woff') format('woff'),
         url('../fonts/heydings_controls-webfont/heydings_controls-webfont.ttf') format('truetype'),
         url('../fonts/heydings_controls-webfont/heydings_controls-webfont.svg#HeydingsControlsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{
  font-family: 'AlefBold';
  src: url('../fonts/Alef-Webfont/Alef-bold.eot');
  src: url('../fonts/Alef-Webfont/Alef-bold.eot?#iefix')
       format('embedded-opentype'),
       url('../fonts/Alef-Webfont/Alef-bold.woff') format('woff'),
       url('../fonts/Alef-Webfont/Alef-bold.ttf') format('truetype'),
       url('../fonts/Alef-Webfont/Alef-bold.svg#webfont') format('svg');
}

@font-face{
  font-family: 'AlefRegular';
  src: url('../fonts/Alef-Webfont/Alef-regular.eot');
  src: url('../fonts/Alef-Webfont/Alef-regular.eot?#iefix')
       format('embedded-opentype'),
       url('../fonts/Alef-Webfont/Alef-regular.woff') format('woff'),
       url('../fonts/Alef-Webfont/Alef-regular.ttf') format('truetype'),
       url('../fonts/Alef-Webfont/Alef-regular.svg#webfont') format('svg');
}


@font-face {
  font-family: 'GeneralFoundicons';
  src: url('../fonts/general_foundicons/general_foundicons.eot');
  src: url('../fonts/general_foundicons/general_foundicons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/general_foundicons/general_foundicons.woff') format('woff'),
       url('../fonts/general_foundicons/general_foundicons.ttf') format('truetype'),
       url('../fonts/general_foundicons/general_foundicons.svg#GeneralFoundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
 
[class*="foundicon-"]:before {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

.foundicon-phone:before {
  content: "\f011";
  color: #000;
}

.foundicon-mail:before {
  content: "\f007";
  color: #000;
}

.foundicon-location:before {
  content: "\f028";
}

.foundicon-checkmark:before {
  content: "\f005";
}

.icon {
	padding: 5px;
	}
 
 body:before 
{ 
   content: "";
   position: fixed;
   top: -10px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: 100;
   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   }
   

body {
 
 background-color: #6fcef3;
 background-image: url('../images/bg.png');

}

h2 {
 font-family: AlefBold, Arial, sans-serif;
}

h3 {
 font-family: AlefBold, Arial, sans-serif;
}

h4 {
 font-family: AlefBold, Arial, sans-serif;
}

.picDesc {
 font-family: AlefRegular, Arial, sans-serif;
}

.alefFont {
 font-family: AlefRegular, Arial, sans-serif;
}

.iconic-heydings {
 font-family: HeydingsControlsRegular, Arial, sans-serif;
 }



p {
	font-family: AlefRegular, Arial, sans-serif;
}

ul {
	list-style-type: none;
}

.quick_contact p {
	margin-top: 14px;
	font-size: 18px;
}

.bigP {
	font-size: 18px;
}

.bigLi {
	font-size: 18px;
	padding: 7px;
}

.purpelIcon {
color: rgb(178, 42, 221);
}

.panel {
background: #fff;
margin: 0 0 30px;
padding: 10px 20px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.rounded {
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

input[type="text"] {
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

#sendBtn {
	text-align: left;
	padding: 15px;
}

#successMsg {
	text-align: left;
	padding: 15px;
}

.purpelText {
color: #fff;
text-shadow: 1px 2px 0px #2284a1;
}



#msgContent {
	margin-top: 8px;
}

#aboutMe {
	text-align: center;
	padding: 10px;
}

#aboutMeText {
	text-align: center;
}



.top_wrap {
background-color: #99e639;
background-image: -moz-linear-gradient(top, #9ee742, #92e42b);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ee742), to(#92e42b));
background-image: -webkit-linear-gradient(top, #9ee742, #92e42b);
background-image: -o-linear-gradient(top, #9ee742, #92e42b);
background-image: linear-gradient(to bottom, #9ee742, #92e42b);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9ee742', endColorstr='#ff92e42b', GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
box-shadow: 10px 1px 4px rgba(0, 0, 0, 0.065);
margin-bottom: 20px;
}



.box {
	background:#FFF;	
}
/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: rgba(0,0,0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
  box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

#footer {
	text-align: center;
}

#footer a {
	color: #555;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


